<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Home page</a></li>
      </ul>
    </nav>
    <div>
      <img src="<%= user.thumbnail %>" alt="Profile picture" />
      <h3>Welcome to the dashboard- <%= user.username%></h3>
    </div>
  </body>
</html>
